
 <script id="waterfall-template" type="text/template">
        <% projectItems.forEach(function(item){%>
        <ul class="list-group" style="padding-left: 1em" id=<%=item.projectId %>>
            <li class="list-group-item">
                <a href=<%=item.link%> target="_blank"> <img src=<%=item.imageUrl %> alt=<%=item.imageName %>> </a>
                <img src="img/save2.png"  class="logotype topleft" />
                <img src="img/3dlogo.png"  class="logotype topright" id="shareflag1" onclick="showsocial()" />
                <div class="oprmask hidden" style="z-index: 2;position: relative;background-color: #000;width: 100px;height: 30px">
                 
                  <div class="social-share " style="margin-top: -18em;left: 5em;position: absolute;background-color: #000"  data-mobile-sites="weibo,qq,qzone,tencent">
                    <a href="javascript:;" class="social-share-icon icon-heart"></a>
                  </div>
                </div> 
            </li>
            <li class="list-group-item">
                <button type="button" class="btn btn-default btn-xs" title="thumb up"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                <button type="button" class="btn btn-default btn-xs" title="thumb down"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                <button type="button" class="btn btn-default btn-xs pull-right" title="pin"><span class="glyphicon glyphicon-pushpin"></span></button>
            </li>
            <li class="list-group-item">
                <div class="media">
                    <div class="media-left">
                        <a href="javascript:;"> <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="images/avatar_30.png" /> </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">Liber</h5> <small><%=item.projectDesc %> </small> </div>
                </div>
            </li>
        </ul> 
        <% }) %>
  </script>
 