<!DOCTYPE html>
<html>
<title>Interestm</title>
<%include head.ejs%>
<style type="text/css">
.social-position{
margin-top: -9em;
}
</style>
<body>
  <%include header.ejs%>
  <%include modal.ejs%>
  <section class="container mobilemain">
    <div class="waterfall"　id="waterfall">
      <%datalist.forEach(function(value){%>  
         <ul class="list-group" style="padding-left: 1em;float:left;" id=<%=value.projectId%> >
                  <li class="list-group-item">
                      <a href=<%=value.link + ':' + value.projectId%>  target="_blank"> <img src=<%=value.imageUrl%>  alt=<%=value.imageName %> > </a>
                      <a onclick=""><img src="img/save2.png"  class="logotype topright" /> </a>        
                  </li> 
                  <li class="list-group-item">
                      <div class="media">
                          <div class="media-left">
                              <a href="/profile"> <img class="media-object img-rounded" style="width: 30px; height: 30px;" src="/img/userTm.jpg" /> </a>
                          </div>
                          <div class="media-body">
                              <h5 class="media-heading"><%=value.projectName%></h5> <small><%=value.projectDesc%>  </small>
                          </div>
                          <div class="media-right">
                          <img src="img/share.png" style="width: 22px;height: 23px;margin-top: 0.5em;" class="" id="shareflag1" onclick="showSocial('<%=value.projectId%>  .social-position')" />
                          <div>
                      </div>
                      <div class="social-position hidden">
                          <!--<a href="javascript:;" class="social-share-icon icon-heart"></a>-->
                      </div>
                  </li>
         </ul>
      <%})%> 
    </div>
  </section>
<%include foot.ejs%>
<script>
  var showSocial = function(div){
  initSocial(".social-position");
    show("#" + div);
  } 
</script>   
</body>
</html>
